{% extends 'manHome.html' %} {% block content %}

  <!-- Portfolio Section -->
  <section id="portfolio" class="portfolio section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <h2>Feedback</h2>
        <p>Review guest feedback for your home stays and resorts. Gain insights to improve services and enhance the guest experience.</p>



    </div><!-- End Section Title -->
    <div class="container" data-aos="fade-up" data-aos-delay="100">
        <div class="table-responsive">
            <table class="table table-bordered" id="notificationTable">
                <thead class="table-dark">
                    <tr>
                        <th>BOOKING DATE</th>
                        <th>USER</th>
                        <th>EMAIL</th>
                        <th>PHONE</th>
                        <th>FEEDBACK</th>
                    </tr>
                </thead>
                <tbody id="notificationContainer">
                    {% for i in data %}
                    <tr>
                        <td>{{ i.date }}</td>
                        <td>{{ i.book.user.name }}</td>
                        <td>{{ i.book.user.email }}</td>
                        <td>{{ i.book.user.phone }}</td>
                        <td>{{ i.review }}</td>
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="9" class="text-center text-muted">No Feedbacks!</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    
  </section><!-- /Portfolio Section -->

{% endblock %}